{{>layout/header}}

<center>
    <h2>My Page</h2>

    <div class="my-page">
        <img src="..." alt="Profile Image">
        <div class="my-page-profile">
            <h5>Nick Name</h5>
            <a href="" class="btn btn-secondary" role="button">View Profile</a>

            <div class="mt-5">
                <a href="" class="btn btn-secondary" role="button">Sales History</a>
                <a href="" class="btn btn-secondary" role="button">Purchase History</a>
                <a href="" class="btn btn-secondary" role="button">Watch List</a>
            </div>

            <hr class="one">
        </div>
    </div>

</center>

{{>layout/footer}}